# Laravel API
/application/api/.phpunit.cache
/application/api/node_modules
/application/api/public/build
/application/api/public/hot
/application/api/public/storage
/application/api/storage/*.key
/application/api/storage/pail
/application/api/vendor
/application/api/.env
/application/api/.env.backup
/application/api/.env.production
/application/api/.phpactor.json
/application/api/.phpunit.result.cache

# Angular app
/application/app/node_modules
/application/app/.angular

# Global
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
